./.git
./.gitattributes
./.github/
./.gradle/
./.idea/
./README.md
./build.gradle
./build/
./gradle/
./gradlew
./gradlew.bat
./guides/
./project.xml
./rules/
./settings.gradle
./src/
./structure
./tools/
./docker-compose.yml
./.postasciidoctor.sh
./.preasciidoctor.sh
